@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a4731;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Prevent overscroll bounce on mobile */
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
